@model IEnumerable<Recon.Models.Model.Ticket.DayOffTicket>
@using Recon.Models.Interface.Account;
@using Recon.Models.Model.Account
@using System.Globalization;

@inject IUserService Auth
<h1 style="text-align:center">Szabadság kérelmek</h1>
<div id="scheduler"></div>
 
<div  class="ticket-list">
@foreach (var ticket in Model)
{ 
        <div class="ticket-box" data-id="@ticket.Id" style="background-color: @(ticket.isApproved ? "#4CAF50" : "#FF9800");">
            <div class="ticket-header">
                  <h3>@ticket.Title</h3>
                <span style="color:white">Létrehozás dátuma : @ticket.Created.ToString("dd. MMMM yyyy", new CultureInfo("hu-HU"))</span>
            </div>
             <div class="ticket-body">
                <p>Indok: @ticket.Description</p>
                <p><strong>Szabadság hossza: </strong> @ticket.StartDayOff.ToString("dd. MMMM yyyy", new CultureInfo("hu-HU")) - @ticket.EndDayOff.ToString("dd. MMMM yyyy", new CultureInfo("hu-HU"))</p>
                <span>Dolgozó : @Auth.GetFullName(ticket.userId)</span>
            </div>
             <div class="ticket-footer">

                <span>@(ticket.isApproved ? "Engedélyezve" : "Nincs engedélyezve")</span>
                <button class="btn" data-id="@ticket.Id">Engedélyezés</button>
            </div>
            
        </div>
}
</div>
<script>
    
    $(() => {
        var dataForDayOffScheduler;
        function callData(){        
           $.ajax({
                url: `@Url.Content("~/api/TicketDayOffDataDates")`,
                method: "GET",
                dataType: "json",
                async:false,

                success: function(data) {
                    // Handle the successful response here
                    //console.log(data)
                    dataForDayOffScheduler = data
                    $('#scheduler').dxScheduler({
                        timeZone: 'Europe/Paris',
                        dataSource: dataForDayOffScheduler,
                        views: ['month'],
                        currentView: 'month',
                        editing: {
                            allowDragging: false,
                            allowResizing: false,
                            allowDeleting: false,
                            allowUpdating: false,
                            allowAdding: false
                        },

                        onAppointmentDeleting: function (e) {
                            e.cancel = true; // Prevent the appointment from being deleted
                        },
                        onAppointmentClick: function (e) {
                            e.cancel = true; // Prevent the appointment popup from showing
                        },

                    });
                },
                error: function(xhr, status, error) {
                    // Handle any errors here
                    console.error(error);
                }
            });
        }
        callData();
       

     

        $(".btn").click(function () {
            var ticketId = $(this).data("id");
            //console.log(ticketId);
            const confirmation = window.DevExpress.ui.dialog.confirm("Biztosan jóváhagyod a szabadságot ?", "Megerősítés");
            confirmation.then((dialogResult) => {
                if (dialogResult === true) {
                    $.ajax({
                        url: `@Url.Content("~/TicketApprov/Approve/")` + ticketId,
                        type: 'POST',
                        success: function () {
                            // Remove the ticket element from the DOM
                            $('.ticket-box[data-id="' + ticketId + '"]').remove();
                            callData();
                        },
                        error: function () {
                            alert('Error approving ticket.');
                        }
                    });
                }
            });           
        });

    });
</script>

