@using Recon.Models.Interface.Account;
@using Recon.Models.Model.Account

@inject IUserService Auth

<div class="dashboard-container">
        @if (Auth.IsInRole("Intern"))
    {
         <div class="dashboard-item">
            <h3>Attendance Sheet</h3>
            <a class="dashboard-link" href="@Url.Action("AttendanceSheet", "Dashboard")">
                View Attendance Sheet
            </a>
        </div>
        }
    <div class="dashboard-item">
        <h3> Dayoff</h3>
        <a class="dashboard-link" href="@Url.Action("DayOff", "Dashboard")">
           Dayoff
        </a>
    </div>
    <div class="dashboard-item">
        <h3> TicketHistory</h3>
        <a class="dashboard-link" href="@Url.Action("TicketHistory", "Dashboard")">
            TicketHistory
        </a>
    </div>
    <div class="dashboard-item">
        <h3>Working Hours</h3>
        <a class="dashboard-link" href="@Url.Action("UpdateWorkingHour", "Dashboard")">
            Update Working Hours
        </a>
    </div>
    <div class="dashboard-item">
        <h3>Password</h3>
        <a class="dashboard-link" href="@Url.Action("UpdatePassword", "Dashboard")">
            Change Password
        </a>
    </div>
    <div class="dashboard-item">
        <h3>Work History</h3>
        <a class="dashboard-link" href="@Url.Action("CheckHistory", "Dashboard")">
            View Work History
        </a>
    </div>
    <div class="dashboard-item">
        <h3>Personal Info</h3>
        <a class="dashboard-link" href="@Url.Action("UpdatePersonalInfo", "Dashboard")">
            Update Personal Info
        </a>
    </div>
</div>

<style>
    .dashboard-container {
        display: flex;
        flex-wrap: wrap;
        gap: 20px;
        justify-content: center;
        margin-top: 50px;
    }

    .dashboard-item {
        background-color: #fff;
        border-radius: 5px;
        box-shadow: 0px 2px 5px rgba(0,0,0,0.1);
        padding: 20px;
        text-align: center;
        width: 250px;
    }

    .dashboard-link {
        color: #007bff;
        font-size: 18px;
        text-decoration: none;
    }

        .dashboard-link:hover {
            text-decoration: none;
        }
</style>