@using Microsoft.AspNetCore.Http
@using Newtonsoft.Json;
@using Recon.Models.Interface.Account;
@using Recon.Models.Model.Account
@using Recon.Utility;

@inject IHttpContextAccessor HttpContextAccessor
@inject IUserService Auth



<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Recon</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/Recon.styles.css" asp-append-version="true" />
    <!-- jQuery library -->
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/devextreme/22.2.4/js/dx.all.js"></script>
   
    <script src="https://cdnjs.cloudflare.com/ajax/libs/devextreme-aspnet-data/2.9.1/dx.aspnet.data.min.js"></script>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/babel-polyfill/7.4.0/polyfill.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/exceljs/4.1.1/exceljs.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/FileSaver.js/2.0.2/FileSaver.min.js"></script>



    <!-- DevExtreme libraries -->
    <link rel="stylesheet" type="text/css" href="https://cdn3.devexpress.com/jslib/21.1.5/css/dx.common.css" />
    <link rel="stylesheet" type="text/css" href="https://cdn3.devexpress.com/jslib/21.1.5/css/dx.light.css" />
    <script src="https://cdn3.devexpress.com/jslib/22.2.4/js/localization/dx.messages.hu.js"></script>
     <link rel="dx-theme" data-theme="generic.light" href="css/dx.light.css" data-active="true">
     <!--Fonts-->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" />

</head>
<body>    
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
            <div class="container-fluid">
                <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">Recon</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                    <ul class="navbar-nav flex-grow-1">
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Index">Kezdőlap</a>
                        </li>
                      
                      
                       
                    </ul>
                    
                </div>
                <ul class="navbar-nav">
                    @if (Auth.IsAuthenticated())
                    {
                        <li class="nav-item">
                            <a href="@Url.Action("Index", "Dashboard")">
                            <span class="nav-link text-dark">Szia, @Auth.GetFullName()</span>                                                      
                            </a>
                        </li>
                       <li class="nav-item">
                            <form method="post" asp-controller="Account" asp-action="Logout">
                                <button type="submit" class="nav-link btn-link text-dark" style="background-color:transparent; border:none; cursor:pointer;">Logout</button>
                            </form>
                        </li>
                    }
                    else
                    {
                       <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Account" asp-action="Login">Bejelentkezés</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Account" asp-action="Register">Regisztráció</a>
                        </li>
                    }
                   
                </ul>
            </div>
        </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
           
        </div>
    </footer>
    <script>
        DevExpress.localization.locale(navigator.language);
    </script>
    @if (ViewBag.ToastMessages != null)
    {
        <script>        
        $(function () {
            var messages = @Html.Raw(JsonConvert.SerializeObject(ViewBag.ToastMessages));
            for (var i = 0; i < messages.length; i++) {
                var message = messages[i];
                var type = "info";
                if(message.type == 0){
                    type="error"
                }
                if(message.type == 1){
                    type="info"
                }
                if(message.type == 2){
                    type="succes"
                }
                if (message.type == 3) {
                    type = "warning"
                }
                console.log(i);
                console.log(message.time)
                DevExpress.ui.notify(message.message, type, {
                    displayTime: message.time,
                    position: {
                        my: "top",
                        at: "top-" + i * 200
                    }
                });
            }
        });                       
    </script>
    }
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
